.header {
  font-family: "Space Grotesk Variable", sans-serif;
  font-size: var(--font-size-normal);
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--color-background);
  padding-block: 24px;
  border-block-end: 3px solid var(--orange-10);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.header__link {
  display: block;
  border-radius: 50%;
}

.header__image {
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  transition: opacity 0.1s linear 0.1s;
  /* padding: 0.15em; */
}

.header__image:hover {
  opacity: 90%;
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  /* perspective: 1000px; */
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu ul {
  display: flex;
  gap: 24px;
}

.header li {
  list-style-type: none;
}


.theme-switcher {
  display: flex;
  padding: 2px;
  /* border: 2px solid var(--orange-9); */
  /* border-radius: 24px; */
}

.theme-switcher__button {
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
  padding: 0;
  padding-inline: 16px;
  border: none;
  border-radius: 24px;
  background-color: transparent;
  color: var(--orange-9);
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;
  transition:
    color 0.1s linear 0.1s,
    background-color 0.1s linear 0.1s;

  &[aria-pressed='true'] {
    border: 2px solid var(--orange-10);
  }
}



.theme-switcher__button:hover {
  color: var(--orange-contrast);
  background-color: var(--orange-10);
}

.column {
  overflow: hidden;
}

@media (width >=1024px) {
  .header__button {
    display: none;
  }
}

@media (width < 1024px) {

  .column {
    padding-inline: 20px;
  }

}

@media (width < 1024px) {

  .header {
    display: flex;
    justify-content: space-between;
  }

  .header__button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray-12);

    &[aria-expanded='false'] {

      .header__icon-close,
      .header__text-close {
        display: none;
      }
    }

    &[aria-expanded='true'] {

      .header__icon-menu,
      .header__text-menu {
        display: none;
      }
    }

    .colored {
      color: var(--orange-10);
    }
  }

  .header__image {
    grid-area: auto;
    z-index: 3;
  }

  .menu {
    position: fixed;
    inset: 0;
    z-index: 1;
    display: grid;
    grid-template-rows: 2fr min-content;
    justify-content: center;
    padding: 20px;
    background-color: var(--orange-3);
    transform: translateX(-100%) scaleX(0.3);
    view-transition-name: menu;
    contain: layout;
    border: 10px dashed var(--orange-10);
    font-size: var(--font-size-h3);

    @media (prefers-reduced-motion: no-preference) {
      transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1);
    }
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu li {
    font-size: var(--font-size-h3);
    /* TODO: add font sizing for mobile, to remove */
  }

  .menu--closed {
    display: none;
  }

  .menu--open {
    transform: translateX(0) scaleX(1);
  }

  #icon {
    display: inline-block;
    transition: transform 0.4s ease-in-out;
    color: var(--orange-10);
  }

  .rotated {
    transform: rotate(180deg);
  }
}