*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font: inherit;
}
