---
import { Image } from "astro:assets";
import photo from "../assets/real_photo.jpg";
---

<div class="bio">
  <div class="bio__title">
    <p class="bio__text-small">hello there, my name is</p>
    <h1 class="bio__text-name">PAVLO KOVAL</h1>
  </div>
  <div class="bio__photo">
    <Image
      class="profile-image"
      src={photo}
      fetchpriority="high"
      alt="Pavlo Koval"
    />
  </div>
  <div class="bio__text">
    <!-- <p>Hello there, my name is</p>
    <p>PAVLO KOVAL</p> -->
    <p>
      I'm a software engineer based in Los Angeles, CA. I like to build things
      using programming. You can reach me either on Twitter (X) DM or Linkedin!
    </p>
    <p>Sometimes I <a href="/posts">write things</a>.</p>
  </div>
</div>
