---
import { Image } from "astro:assets";
import photo from "../../assets/photo.webp";
import Arrow from "../../assets/arrow.svg";
import ThemeSwitcher from "./ThemeSwitcher.astro";
---

<header class="header column">
  <button
    class="header__button action action--hover"
    type="button"
    id="toggle"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Toggle menu"
  >
    <Arrow id="icon" />
    Menu
  </button>
  <a class="header__link" href="/">
    <Image class="header__image" src={photo} alt="Home" />
  </a>
  <nav class="menu menu--closed" id="menu">
    <ul class="menu__list">
      <li><a href="/">home</a></li>
      <li><a href="/posts">posts</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/about">about</a></li>
    </ul>
    <ThemeSwitcher />
  </nav>
</header>

<script>
  const toggleButton = document.querySelector("button#toggle");
  const navMenu = document.querySelector("nav#menu");
  const headerLink = document.querySelector(".header__link");

  function isMenuOpen() {
    return toggleButton?.getAttribute("aria-expanded") === "true";
  }

  function closeMenu() {
    toggleButton?.setAttribute("aria-expanded", "false");
    headerLink?.removeAttribute("tabindex");
    navMenu?.classList.remove("menu--open");
    navMenu?.addEventListener(
      "transitionend",
      () => {
        if (!navMenu?.classList.contains("menu--open")) {
          navMenu?.classList.add("menu--closed");
        }
      },
      {
        once: true,
      },
    );
  }

  function openMenu() {
    toggleButton?.setAttribute("aria-expanded", "true");
    headerLink?.setAttribute("tabindex", "-1");
    navMenu?.classList.remove("menu--closed");
    setTimeout(() => {
      navMenu?.classList.add("menu--open");
    }, 20);
  }

  toggleButton?.addEventListener("click", () => {
    document.getElementById("icon")?.classList.toggle("rotated");
    return isMenuOpen() ? closeMenu() : openMenu();
  });
</script>
