---
import { Image } from "astro:assets";
import photo from "../../assets/photo.webp";
import expand from "../../assets/align-justify.svg";
---

<header class="header column">
  <button
    class="header__button action action--hover"
    type="button"
    id="toggle"
    aria-expanded="false"
    aria-controls="menu"
    aria-label="Toggle menu"
  >
    <Image src={expand} alt="expand" />
  </button>

  <nav class="menu menu--closed" id="menu">
    <a class="header__link" href="/">
      <Image class="header__image" src={photo} alt="Home" />
    </a>
    <ul class="menu__list">
      <li><a href="/">home</a></li>
      <li><a href="/posts">posts</a></li>
      <li><a href="/projects">projects</a></li>
      <li><a href="/about">about</a></li>
    </ul>

    <section class="theme-switcher" aria-label="Color theme switcher">
      <button class="theme-switcher__button" aria-pressed="false" value="light">
        light
      </button>
      <button class="theme-switcher__button" aria-pressed="true" value="auto">
        auto
      </button>
      <button class="theme-switcher__button" aria-pressed="false" value="dark">
        dark
      </button>
      <div class="theme-switcher__status"></div>
    </section>
  </nav>
</header>

<script>
  const toggleButton = document.querySelector("button#toggle");
  const navMenu = document.querySelector("nav#menu");
  console.log();
  toggleButton?.addEventListener("click", () => {
    const list = navMenu?.classList;
    list?.toggle("menu--closed");
    list?.toggle("menu--open");
    toggleButton.innerHTML = toggleButton.innerHTML === "O" ? "X" : "O";
  });
</script>
